.cabeza{
    width: 100%;
}
.nombre{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgb(0, 21, 114);
    height: 150px;
    padding-right: 200px;
}

.container{
    display: grid;
    grid-template-areas: "uno dos";
    grid-template-columns: 60% 40%;

}
.music{
    grid-area: uno;
    border: red solid 2px;
    height: 1900px;
}
.tour{
    grid-area: dos;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: rgb(52, 0, 148) solid 2px;
    height: 500px;
    font-family: Arial, Helvetica, sans-serif;
    position: sticky;

}
#foto{
    height: 180px;
    width: 270px;
    position: absolute;
    margin-top: 150px; 
    margin-left: 1080px;  
}
#tour{
    height: 350px;
    width: 300px;
}
.tour h1{
    margin-top: 100px;
}
.estatic{
    position: sticky;
}