body, html {
    margin: 0;
    color: rgb(0, 0, 0);
    padding: 0;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background: radial-gradient(rgba(194, 194, 194, 0.849), rgb(255, 255, 255));
}

.cabeza {
    width: 100%;
    height: 250px; 
    background-image: url('discos/video.gif');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}
.container{
    display: flex;
}
.left{
    width: 65%;
    height: auto;
    font-size: 18px;

}

.cuadri h2,h3{
    text-align: center;
}
.inf{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    margin-left: 5px;
    border: black solid 3px;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
}
.inf2{
    width: 75%;
}
.imag{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.right{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    height: 500px;
    position: sticky;
    top: 0px;
}
.cuadro{
    display: flex;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 300px;
    background: white;
    border-radius: 3%;

}
.informacion{
    display: flex;
    margin-left: 5px;
    border: black solid 3px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    height: auto;
}
.informacion2{
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.informacion2 img{
    height: 400px;
}
img{
    border: black solid 4px;
}
.informacion3{
    display: flex;
    flex-direction: column;
    width: 65%;
    height: auto;
}
.info{
    width: 55%;

}
.info2{
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.info2 img{
    height: 250px;
}
.alerta{
    display: none;
}
@media(max-width: 600px){
    .alerta{
        display: block;
        color: red;
    }
    body{
        background: white;
    }
    .cabeza{
        display: none;
    }
    .container{
        display: none;
    }

}