body{
    background: url(https://www.telemundo.com/sites/nbcutelemundo/files/styles/fit-760w/public/images/article/cover/2018/07/17/anuel-aa-1920x1080.jpg?ramen_itok=iqwQftIcTf);
    background-repeat: no-repeat;
    background-size: cover; 
}
.cabeza{
    display: grid;
    grid-area: "menu"
    "hamburguesa";
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}
.menu{
    display: flex;
    background: red;
    padding-right: 8%;
    border-radius: 6px;
    height: 50px;
    align-items: center;
    grid-area: menu;

}
li{
    list-style: none;
    padding: 10px;


}
.borde:hover{
    border: black solid 2px;
    height: 50px;
    box-shadow: 1px -10px 15px 1px black;
    border-radius: 6px 6px 6px 6px;
}

.hamburguesa{
    grid-area: hamburguesa;
}
.hamburguesa ul{
    background: white;
    display: grid;
    grid-template-areas: "uno dos tres"
    "cuatro cinco seis";
    border-radius: 6px;
    margin-top: 190px;

}