body{
    background: url(https://www.telemundo.com/sites/nbcutelemundo/files/styles/fit-760w/public/images/article/cover/2018/07/17/anuel-aa-1920x1080.jpg?ramen_itok=iqwQftIcTf);
    background-repeat: no-repeat;
    background-size: cover; 
}
.menu{
    display: flex;
    justify-content:flex-end ;
}
.menu-nombres{
    background-color: rgb(245, 17, 17);
    width: 900px;
    
}
.nav-tabs{
    width: 900px;
}
.hambur li{
    display: flex;
    flex-direction: row;
    margin-right: 25px;
    margin-left: 10px;

}
.hambur{
    background: rgb(255, 244, 244);
    height: 100px;
    position: relative;
    width: 900px;
    display: flex;
    margin-left: 396px;
    
}

