/* Estilo general del body */
body {
    background-color: rgb(255, 255, 255);
    background: radial-gradient(rgb(255, 255, 255), rgb(114, 113, 113));
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

/* Estilo del header */
header {
    width: 100%;
    height: 250px;
    background-image: url('discos/video.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Estilo del contenedor */
.contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: rgb(0, 0, 0);

}
.ropa{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}
.ropa img{
    height: 280px;
}
.camisa1 {
    overflow: hidden;
    border-radius: 5%;
    border: 2px solid black;
    text-align: center;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    width: 50%;
    background: white;
    height: 100%;
}

.camisa1 p {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin: 0;
}

#hola {
    width: 100%;
}

.compra {
    border: 2px solid rgb(215, 7, 7);
    height: 50px;
    width:100%;
    display: flex;
    text-align: center;
    align-items: center; 
    justify-content: center; 
}
.nom_product{
    border: 2px solid rgb(215, 7, 7);
    height: 30px;
    width: 100%;
    text-align: center;
    padding-top: 5px;
    display: flex;
    align-items: center; 
    justify-content: center; 
}
.carro{
    background-color: black;
    width: 100%;
    height: 4vh;
    margin: 0 0;
    padding: 0 0 0 0;
}
.navbarp p{
    color:white;
    margin: 0;
    padding: 0 0 0 0;

}