@font-face {
  font-family: "againts";
  src: url(fuente/againts.otf);
  font-size: normal;
  font-weight: normal;
}
.ga-maamli-regular {
  font-family: "Ga Maamli", sans-serif;
  font-weight: 100;
  font-style: normal;
}
.rowdies-light {
  font-family: "Rowdies", sans-serif;
  font-weight: 100;
  font-style: normal;
}
body {
  background-color: rgb(255, 255, 255);
  background: radial-gradient(rgb(255, 255, 255), rgb(114, 113, 113));
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  font-family: "Rowdies", sans-serif;

  padding: 0;
}

header {
  width: 100%;
  height: 250px;
  background-image: url("discos/video.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10%;
  color: rgb(0, 0, 0);
  margin: 5%;
}
.ropa {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}
.ropa img {
  height: 280px;
}
.camisa1 {
  overflow: hidden;
  border-radius: 10%;
  border: 2px solid black;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 36vh;
  background: white;
  height: 48vh;
  transition: 0.8s;
  box-shadow: 0 0 30px rgb(0, 0, 0), 0 0 30px rgb(172, 171, 171),
    0 0 30px rgb(124, 124, 124);
}
.camisa1 p {
  margin: 0;
}
.camisa1:hover {
  box-shadow: 0 0 3px rgb(56, 0, 0), 0 0 5px rgb(155, 0, 0),
    0 0 7px rgb(189, 0, 0), 0 0 10px rgb(255, 0, 0), 0 0 12px rgb(255, 34, 34),
    0 0 15px rgb(255, 84, 84);
  width: 38vh;
  height: 50vh;
}
.hola {
  width: 100%;
}
button {
  height: 90vh;
  width: 100%;
}
button:hover {
  background-color: #4caf50;
}
.compra {
  height: 68px;
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.nom_product {
  height: 30px;
  width: 100%;
  text-align: center;
  border: black solid 2px;
  padding-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.carro {
  background-color: black;
  width: 100%;
  height: 10vh;
  margin: 0 0;
  padding: 0 0 0 0;
  display: flex;
  align-items: center;
  position: sticky;
}
.navbarp {
  display: flex;
  color: white;
  width: 100%;
  font-family: "againts";
  letter-spacing: 0.4em;
}
#logo_carro img {
  height: 60px;
  position: sticky;
}
#logo {
  height: 50px;
  width: 100%;
  padding-top: 12px;
}
.navbarp a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  font-size: 40px;
}
#discos {
  margin: 10px 0px 8px 0px;
  border-radius: 10%;
  height: 90%;
  width: 90%;
}
.boton_disc {
  height: auto;
}
.compras {
  padding: 10%;
  display: flex;
  flex-direction: column;

  gap: 20px;
}
.cuadros {
  width: 80%;
  border: rgb(0, 0, 0) solid 2px;
}
.cuadros img {
  border-right: black solid 1px;
}
.cambios {
  background: white;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.cambios img {
  height: 18vh;
  width: 16vh;
}
.organiza {
  padding-right: 50%;
  height: auto;
  padding-left: 5%;
}
.cantidad {
  width: 20%;
  border: white solid 2px;
}
.borrar {
  margin-top: 2%;
  height: 8vh;
  width: 20%;
}
.borrar:hover {
  background-color: red;
}
.dere {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center; /* Opcional, para centrar verticalmente los elementos */
}
.izq {
  width: 22%;
  margin-right: 50px;
  overflow: hidden;
}
@media (max-width: 810px) {
  .navbarp {
    display: flex;
    height: 100px;
    flex-direction: column-reverse;
    background: rgb(0, 0, 0);
  }
  .dere {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center; /* Opcional, para centrar verticalmente los elementos */
  }
  .izq {
    width: 100%;
    height: 50px;

    text-align: center;
    margin-right: 50px;
    overflow: hidden;
  }
  #logo {
    padding-top: 0;
    width: 200px;
  }
}
@media (max-width: 500px) {
  .navbarp {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-size: 2px;
  }
  .dere a {
    font-size: 25px;
  }
  #logo_carro img{
    height: 50px;
  }
  .izq {
    width: 100%;
  }
  .izq a{
    margin-left: 20px;
    width: 100%;
  }
}
